<!doctype html>
<html lang="en">

<head>
    <link rel="icon" href="/static/icon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <title>{{post.title}} | Mycrobites</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Ubuntu', sans-serif !important;
            color:rgb(66, 66, 65);
            
            
            
        }
        body{
            overflow-x: hidden;
            background: rgb(226, 225, 237);
        }
        .cta-section {
            background: #bad2e7;
        }

        .topnav {
    background-color: black;
    display: flex;
        }

        /* Right-aligned section inside the top navigation */
        .topnav-right {
          display: flex;
          /*if you don't want the searchbox then remove this flex-wrap also*/
          flex-wrap: wrap;
          margin-left: auto; 
        }

        /* Style the links inside the navigation bar */
        .topnav a {
          color: rgb(175, 173, 173);
          text-align: center;
          padding: 14px 10px;
          text-decoration: none;
          font-size: 17px;
        }



        .logo-with-name{
          font-family: 'Libre Franklin', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          color:white;
        }
        /* girl with wings section and about us section */
        .up{
          position: relative;
          z-index: 1;
          background-color: #fff;
          background-attachment: fixed;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          background: rgb(226, 225, 237);
        }

        .post-full-title{
            font-family: 'Ubuntu', sans-serif;
        }

        .post-full-header {
    margin: 0 auto;
    padding: 6vw 3vw 3vw;
    max-width: 1040px;
    text-align: center;
}

        .post-full-meta {
    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #738a94;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}


        .w3{
            width:65%;
        }

        .content{
        margin-top:-40pt !important;
        z-index: 2;
        margin: auto;
        font-size:13pt;
        
        }

        .content img{
            width:100%;
            height:300pt;
        }

        .form-inline {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }

        .post-thumb {
            height: 100px;
            width: 100px;
        }


        .wrapper {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            box-shadow: 20px grey;
            
        }

    
        .picture{
            width:90%;
            height:800;
            margin:auto;
        }



        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }

        @media only screen and (max-width: 600px) {
            .content{
                margin: auto;
            }

            
            .content img{
                height:200pt;
            }
            

            #center{
                width:100%;
            }

            .picture{
                width:100%;
            }
            .content img{
                height:150pt;
            }

            .content{
                width:90%;
            }

            
            
          }


          @media only screen and (max-width: 900px) {
            .threads{
                padding-left:0px!important;
            }
            .content{
                width: 100%;
                margin: auto;
            }

            .container{
                width: 100%;
            }
            .content img{
                height:200pt;
            }

            
          }

          @media only screen and (max-width: 1200px) {
            .content{
                width: 75%;
                margin: auto;
            }

            .container{
                width: 75%;
            }
            .content img{
                height:200pt;
            }
            
          }

          @media only screen and (max-width: 1600px) {
            .content{
                width: 75%;
            }

            .container{
                width: 75%;
            }
            
            
          }
          
          

        @media (max-width:427px) {
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 200px;
                box-shadow: 20px grey;
            }
            .picture{
                height:400;
                width:100%;
            }
            
            .content img{
                height:130pt;
            }

            .content{
                width:90%;
                font-size:11pt;
            }

            .cards {
                margin-left: 0;
            }


        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        <section class="up">
    <section class="Mycro-navbar-section" id="navbar-section">
    <div class="topnav">
      <div class="logo-with-name">    
      <img src="static/icon.ico" style="height:30pt;"></img>
      </div>
      <div class="topnav-right">
        <a href="{% url 'bloghome' %}" id="nav-games">Home</a>
        <a href="#" id="nav-contactUS">Contact Us</a>
      </div>
    </div>
    </section>
    
    

        <header class="post-full-header">
        <section class="post-full-meta">
        <time class="post-full-meta-date" datetime="2020-10-29">{{post.timeStamp}}</time>
        </section>
        <h1 class="post-full-title">{{post.title}}</h1>
        </header>
        <div class="w3-container picture">
            <center><img class="picture" src="/media/{{post.img}}"  alt="AttackerKB - Not all vulns are created equal"></center>
          </div>
          <div class="row">
              
        
        <div class="content" >
        <div class="w3-container  w3-white w3-margin ">
            
            <p>{{post.content|safe}}</p>
            </div>
        </div></div>
            <!-- <a href="{% url 'bloghome' %}"><button type="button" class="btn btn-danger">Back to Blogs</button></a> -->
            <hr>
            <div id="center">
                <div class=" threads container my-3" style="padding-left: 85pt;">
                    <h5>Feel free to discuss your queries!!</h5>
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://c-cube.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a></noscript>


                </div>
            </div>
            <hr>

        </div>

    </div>
    <!--//main

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>

